@model PatientInfoPortal.App.Models.CreateViewModel

@{
    ViewData["Title"] = "Create";
}
<h1>Add Patient</h1>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-2">
                        <label asp-for="PatientName" class="control-label"></label>
                    </div>
                    <div class="col">
                        <input asp-for="PatientName" class="form-control" />
                        <span asp-validation-for="PatientName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-2">
                        <label asp-for="DiseaseId" class="control-label"></label>
                    </div>
                    <div class="col">
                        <select asp-for="DiseaseId" class="form-control" asp-items="Model.Diseases"></select>
                        <span asp-validation-for="DiseaseId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-2">
                        <label asp-for="EpilepsyVal" class="control-label"></label>
                    </div>
                    <div class="col">
                        <select asp-for="EpilepsyVal" class="form-control" asp-items="Model.EpilepsyOptions"></select>
                        <span asp-validation-for="EpilepsyVal" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-2">
                        <label asp-for="NcdIds" class="control-label">Other NCDs</label>
                    </div>
                    <div class="col">
                        <select id="availableNcds" class="form-control" multiple="multiple" asp-items="Model.Ncds"></select>
                    </div>
                    <div class="col-1 text-center">
                        <div class="row mb-1">
                            <button type="button" id="addNcd" class="btn btn-sm btn-outline-primary">Add ></button>
                        </div>
                        <div class="row">
                            <button type="button" id="removeNcd" class="btn btn-sm btn-outline-secondary">< Remove</button>
                        </div>
                    </div>
                    <div class="col">
                        <select id="selectedNcds" class="form-control" asp-for="NcdIds" multiple="multiple"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-5">
                    <div class="col-2">
                        <label asp-for="AllergyIds" class="control-label">Allergies</label>
                    </div>
                    <div class="col">
                        <select id="availableAllergies" class="form-control" multiple="multiple" asp-items="Model.Allergies"></select>
                    </div>
                    <div class="col-1 text-center">
                        <div class="row mb-1">
                            <button type="button" id="addAllergy" class="btn btn-sm btn-outline-primary">Add ></button>
                        </div>
                        <div class="row mb-1">
                            <button type="button" id="removeAllergy" class="btn btn-sm btn-outline-secondary">< Remove</button>
                        </div>
                    </div>
                    <div class="col">
                        <select id="selectedAllergies" class="form-control" asp-for="AllergyIds" multiple="multiple"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col text-center">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            // NCDs
            $('#addNcd').click(function () {
                $('#availableNcds option:selected').each(function () {
                    $(this).remove().appendTo('#selectedNcds');
                });
            });

            $('#removeNcd').click(function () {
                $('#selectedNcds option:selected').each(function () {
                    $(this).remove().appendTo('#availableNcds');
                });
            });

            // Allergies
            $('#addAllergy').click(function () {
                $('#availableAllergies option:selected').each(function () {
                    $(this).remove().appendTo('#selectedAllergies');
                });
            });

            $('#removeAllergy').click(function () {
                $('#selectedAllergies option:selected').each(function () {
                    $(this).remove().appendTo('#availableAllergies');
                });
            });
        });
    </script>
}
